<!DOCTYPE html>
<html>
<head>
	<title>5Paisa</title>
	<link rel="stylesheet" type="text/css" href="./css/style1.css">
</head>

<body>
	<header>
		5Paisa  
	</header>
	<form action = '' method="POST">
	Email : <input type="email" name="email" required><br>
	
	DOB : <input type="date" name="date" required><br>
	Password : <input type="password" name="password" required min="5"> 
	    <br><input type="submit" value="Login">
	<input type="reset" value="Refresh">
	<p>{{message}}</p>
	</form>
</body>
</html>